<h1>Monster...</h1>

<img src="https://i.ytimg.com/vi/IXseq7yULnE/maxresdefault.jpg">
<p>
    You have encountered demogorgon...
</p>

<p>
    He looks ferocious
</p>

<p>
    What would you like to do?
</p>

<a href="/fight">Fight</a>
<a href="/">Run Away!</a>