<h1>Fighting!</h1>

<img src="https://i.ytimg.com/vi/IXseq7yULnE/maxresdefault.jpg"> 

<div>
<span class="health">Health: <%= session[:health] %></span>
<span class="monster">Monster: <%= session[:monster] %></span>
</div>

<p>
    What would you like to do?
</p>

<a href="/attack">Attack</a>
<a href="/begin">Run Away!!!</a>