<h1>Welcome!</h1>

<p>
    Thank you for playing our game.
</p>

<form action="/begin" method="post">
    Please enter your name:
    <input type="text" name="name">
    <input type="submit" value="Start">
</form>