<h1>You have conquered!</h1>

<p>
    You have defeated the demogorgon and triumphed. You discover treasure.
</p>

<img src="http://www.pngall.com/wp-content/uploads/2016/07/Treasure-Free-Download-PNG.png">